# Generic

*.log
._*
gulpfile.js
gulpfile.babel.js
webpack.config.js
build.sh
.jshintrc
.eslintrc
.babelrc
.gitignore
test/
src/
bower_components/
node_modules/
local/
public/
doc/
docs/
examples/
tasks/
.Trashes
.Trash-1000/
.Spotlight-V100
.DS_Store
.DS_Store?
Thumbs.db
.tmp/
.idea/

yarn.lock
package-lock.json